.card{
  font-weight: 900;
} 

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.dash1{
  box-shadow: 10px 10px 10px  lightblue;border-radius: 10px;

}